aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
anyio==4.13.0
asqlite @ git+https://github.com/Rapptz/asqlite.git@8d929c7628e53d01b6905866f8b6d350e76a8d40
attrs==26.1.0
click==8.3.3
colorama==0.4.6
comtypes==1.4.16
enum-tools==0.13.0
frozenlist==1.8.0
h11==0.16.0
idna==3.13
multidict==6.7.1
propcache==0.4.1
Pygments==2.20.0
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyttsx3==2.99
pywin32==311
six==1.17.0
starlette==1.0.0
twitchAPI==4.5.0
twitchio==3.2.2
typing_extensions==4.15.0
uvicorn==0.46.0
yarl==1.23.0
